solutions/Customizacoes/Workflows/AprovaodeSolicitao-34C11389-5E66-EB11-A812-0022483672D9.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedcommondataserviceforapps_2a3bc"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedapprovals_848b1"},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"smt_solicitacao","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Busca_Aprovador":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_smt_aprovador_value']"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Busca_Aprovador":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"Aprovação da Solicitação: @{triggerOutputs()?['body/smt_nome']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Busca_Aprovador')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"@{triggerOutputs()?['body/smt_nome']}<br/>@{triggerOutputs()?['body/createdon']}","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/smt_solicitacaoid']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/smt_nome']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Update_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"smt_solicitacaos","recordId":"@triggerOutputs()?['body/smt_solicitacaoid']","item/statuscode":200000001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_a_row_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"smt_solicitacaos","recordId":"@triggerOutputs()?['body/smt_solicitacaoid']","item/statuscode":200000002},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",200000000]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}