solutions/Customizacoes/Workflows/Enviaemailcomprotocoloaocriarocorrncia-3370A422-1A02-EB11-A813-000D3AC1707E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedcommondataserviceforapps_2f54a"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedsendmail_65068"},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Quando_uma_ocorrência_é_criada":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"incident","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Lê_contato_da_Ocorrência":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_customerid_value']"},"authentication":"@parameters('$authentication')"}},"Verifica_se_email_está_preenchido":{"actions":{"Envia_email_com_protocolo_de_atendimento":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Lê_contato_da_Ocorrência')?['body/emailaddress1']};","request/subject":"Protocolo de Atendimento @{triggerOutputs()?['body/ticketnumber']}","request/text":"<p>Olá @{outputs('Lê_contato_da_Ocorrência')?['body/firstname']},<br>\n<br>\nPor favor anote o número de protocolo de seu atendimento:<br>\n<br>\n@{triggerOutputs()?['body/ticketnumber']}</p>"},"authentication":"@parameters('$authentication')"}},"Cria_anotação":{"runAfter":{"Envia_email_com_protocolo_de_atendimento":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Protocolo de atendimento enviado por email.","item/objecttypecode":"112"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"Cria_anotação":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@triggerOutputs()?['body/incidentid']","associationEntityRelationship":"Incident_Annotation","item/@odata.id":" https://smartprevendas.crm2.dynamics.com/api/data/v9.0/annotation(@{outputs('Cria_anotação')?['body/@odata.id']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Lê_contato_da_Ocorrência":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Lê_contato_da_Ocorrência')?['body/emailaddress1']","@null"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}