solutions/Customizacoes/Workflows/InstanciadoKPIdaSLA-A35A0EE6-B001-EB11-A813-000D3AC17120.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedsendmail_864f0"},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedcommondataserviceforapps_ddd50"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"smt_sharedcommondataservice_5fa13"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Quando_uma_Instância_do_KPI_da_SLA_é_atualizado":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org2df69621.crm2","table":"slakpiinstances","scope":"Organization","subscriptionRequest/AttributeFilters":["status"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Se_o_status_da_ocorrência_for_\"Não_conformidade_de_proximidade\"":{"actions":{"Enviar_uma_notificação_por_email_para_o_responsável_da_ocorrência":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Pega_o_usuário_do_responsável_pela_ocorrência')?['body/internalemailaddress']};","request/subject":"Ocorrência @{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/ticketnumber']}","request/text":"<p>Olá @{outputs('Pega_o_usuário_do_responsável_pela_ocorrência')?['body/firstname']}!<br>\n<br>\nSua ocorrência \"@{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/title']}\", número: @{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/ticketnumber']} &nbsp;esta \"Pendente\", favor faça a tratativa.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Pega_o_usuário_do_responsável_pela_ocorrência":["Succeeded"]},"else":{"actions":{"Se_o_status_da_ocorrência_for_\"Não_Compatível\"":{"actions":{"Enviar_uma_notificação_por_email_para_o_responsável_da_ocorrência_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Pega_o_usuário_do_responsável_pela_ocorrência')?['body/internalemailaddress']};","request/subject":"Ocorrência - @{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/ticketnumber']}","request/text":"<p>Olá @{outputs('Pega_o_usuário_do_responsável_pela_ocorrência')?['body/firstname']}!<br>\n<br>\nSua ocorrência \"@{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/title']}\", número: @{outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/ticketnumber']} expirou. Favor verifique com o seu gestor.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/status']",1]},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/status']",2]},"type":"If"},"Pega_o_usuário_do_responsável_pela_ocorrência":{"runAfter":{"Pega_os_dados_do_responsável_pela_ocorrência":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Pega_os_dados_do_responsável_pela_ocorrência')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Pega_os_dados_do_responsável_pela_ocorrência":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@triggerOutputs()?['body/_regarding_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}