solutions/Customizacoes/Workflows/MudarovalordocampoPrimeirarespostapor-50703EAF-8102-EB11-A813-000D3AC1707E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Quando_uma_ocorrência_é_atualizada_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"incident","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Verifica_se_o_campo_\"Primeira_resposta_enviada\"_=_sim":{"actions":{"Atualiza_o_campo_\"Primeira_resposta_por\"_com_a_data_e_hora_da_modificação":{"runAfter":{"Pega_os_dados_da_ocorrência":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@outputs('Pega_os_dados_da_ocorrência')?['body/incidentid']","item/responseby":"@outputs('Pega_os_dados_da_ocorrência')?['body/modifiedon']"},"authentication":"@parameters('$authentication')"}},"Pega_os_dados_da_ocorrência":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@triggerOutputs()?['body/incidentid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/firstresponsesent']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}